<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Prophecise allows analysts and data scientists to quickly build accurate forecasts within a simple user interface by leveraging Facebook Prophet.">
      <meta name="author" content="">
      <meta property="og:image:url" content="https://prophecise.com/static/img/prophecise-screenshot.png" />
      <meta name="135647738684-srgslml86mqoj9jqf5u5j16j4p18e45t.apps.googleusercontent.com" content="profile">
      <link rel="icon" href="{{url_for('static', filename='img/crystal-ball.png')}}">
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js"></script>
      <script>
         (function(w,d,s,g,js,fs){
           g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
           js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
           js.src='https://apis.google.com/js/platform.js';
           fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
         }(window,document,'script'));
      </script>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5MHF53M');
      </script>
      <!-- End Google Tag Manager -->
      <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/date-range-selector.js"></script>
      <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/view-selector2.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
      <title>Prophecise | Automated forecasting for Google Analytics</title>
      <!-- Bootstrap core CSS -->
      <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles -->
      <link href="{{url_for('static', filename='styles/prophecise.css')}}" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{{url_for('static', filename='styles/cover.css')}}" rel="stylesheet">
   </head>
   <body class="text-center" style="background-image:url('{{url_for('static', filename='img/bg.jpg')}}')">
      <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MHF53M" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
      <!-- Header -->
      <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
         <header class="masthead mb-auto">
            <div class="inner">
               <a href="/">
                  <h3 class="masthead-brand"><img id='crystal-ball' src="{{url_for('static', filename='img/crystal-ball.png')}}"/>Prophecise</h3>
               </a>
               <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link" href="mailto:alistair@prophecise.com">Contact</a>
                  <a id="logout" class="nav-link" href="#" onclick="signOut()">Log Out</a>
               </nav>
            </div>
         </header>
         <!-- steps -->
         <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
               <a class="nav-link active" id="step-one" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">One</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="step-two" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">Two</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="contact-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false">Three</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="contact-tab" data-toggle="tab" href="#four" role="tab" aria-controls="four" aria-selected="false">Four</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="contact-tab" data-toggle="tab" href="#five" role="tab" aria-controls="five" aria-selected="false">Five</a>
            </li>
         </ul>
         <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="step-one">
               <!-- Step 1: Google Sign In-->
               <h3 class='step-title'>Log in to your Google Analytics account</h3>
               <div id="embed-api-auth-container"></div>
            </div>
            <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="step-two">
               <h3 class="step-title"><img id="ga-logo" src="https://cdn.iconscout.com/icon/free/png-512/google-analytics-2038769-1721667.png" >Google Analytics Data</h3>
               <p class="view-selector-label">Account > Property > View</p>
               <div id="embed-api-auth-container"></div>
               <div id="view-selector-container"></div>
               <div id="data-chart-1-container"></div>
               <p class="view-selector-label">Start Date / End Date</p>
               <div id="date-range-selector-1-container"></div>
               <div id="date-range-selector-2-container"></div>
               <p class="view-selector-label">Forecast Metric</p>
               <select name="metrics" id="ga-metrics">
                  <option value="ga:sessions">Sessions</option>
                  <option value="ga:users">Users</option>
                  <option value="ga:sessionsPerUser">Number of Sessions per User</option>
                  <option value="ga:avgSessionDuration">Avg. Session Duration</option>
                  <option value="ga:newUsers">New Users</option>
                  <option value="ga:transactions">Transactions</option>
                  <option value="ga:transactionRevenue">Revenue</option>
                  <option value="ga:transactionsPerSession">Ecommerce Conversion Rate</option>
                  <option value="ga:costPerTransaction">Cost per Transaction</option>
                  <option value="ga:costPerConversion">Cost per Conversion</option>
                  <option value="ga:revenuePerTransaction">Avg. Order Value</option>
                  <option value="ga:impressions">Impressions</option>
                  <option value="ga:adClicks">Clicks</option>
                  <option value="ga:adCost">Cost</option>
                  <option value="ga:CPM">CPM</option>
                  <option value="ga:CPC">CPC</option>
                  <option value="ga:CTR">CTR</option>
                  <option value="ga:RPC">RPC</option>
                  <option value="ga:ROAS">ROAS</option>
                  <option value="ga:goalCompletionsAll">Goal Completions</option>
                  <option value="ga:pageviews">Pageviews</option>
                  <option value="ga:pageviewsPerSession">Pages / Session</option>
                  <option value="ga:avgTimeOnPage">Avg. Time on Page</option>
                  <option value="ga:bounces">Bounces</option>
                  <option value="ga:bounceRate">Bounce Rate</option>
               </select>
               <div id="more-ga-options-button">
                  <a class="helper" href="#">Show more options</a>
               </div>
               <div id="more-ga-options">
                  <p class="view-selector-label">Use different forecast metric <a class="helper" href="https://ga-dev-tools.appspot.com/dimensions-metrics-explorer/"> (ga:metricName)</a></p>
                  <input id="custom-metric" type="text">
                  <br>
                  <p class="view-selector-label">Use a specific segment</p>
                  <select id="custom-segment">
                     <option value="" disabled>Choose your segment</option>
                  </select>
               </div>
               <div id="fewer-ga-options-button" style="display:none">
                  <a class="helper" href="#">Show less options</a>
                  <br>
               </div>
               <br>
               <button id="review-ga-data" type="button" class="btn btn-primary">Review GA Data</button>

               <script>
                  gapi.analytics.ready(function() {
                  
                    /**
                     * Authorize the user immediately if the user has already granted access.
                     * If no access has been created, render an authorize button inside the
                     * element with the ID "embed-api-auth-container".
                     */
                    gapi.analytics.auth.authorize({
                      container: 'embed-api-auth-container',
                      clientid: '135647738684-srgslml86mqoj9jqf5u5j16j4p18e45t.apps.googleusercontent.com'
                    });
                  
                    function renderButton() {
                      gapi.signin2.render('embed-api-auth-container', {
                        'scope': 'analytics',
                        'width': 240,
                        'height': 50,
                        'longtitle': true,
                        'theme': 'dark',
                        'onsuccess': onSuccess,
                        'onfailure': onFailure
                      });
                    }
                  
                    gapi.analytics.auth.on('success', function() {
                     console.log('User is Authorized!');
                     $('.nav-tabs a[href="#two"]').tab('show');
                     $('#logout').show();
                  });
                  
                    /**
                     * Store a set of common DataChart config options since they're shared by
                     * both of the charts we're about to make.
                     */
                    var commonConfig = {
                      query: {
                        metrics: 'ga:sessions',
                        dimensions: 'ga:date'
                      },
                      chart: {
                        type: 'LINE',
                        options: {
                          width: '100%'
                        }
                      }
                    };
                  
                  
                    /**
                     * Query params representing the first chart's date range.
                     */
                    var dateRange1 = {
                      'start-date': '14daysAgo',
                      'end-date': '8daysAgo'
                    };
                  
                  
                    /**
                     * Query params representing the second chart's date range.
                     */
                    var dateRange2 = {
                      'start-date': '7daysAgo',
                      'end-date': 'yesterday'
                    };
                  
                  
                    /**
                     * Create a new ViewSelector2 instance to be rendered inside of an
                     * element with the id "view-selector-container".
                     */
                    var viewSelector = new gapi.analytics.ext.ViewSelector2({
                      container: 'view-selector-container',
                    }).execute();
                  
                  
                    /**
                     * Create a new DateRangeSelector instance to be rendered inside of an
                     * element with the id "date-range-selector-1-container", set its date range
                     * and then render it to the page.
                     */
                    var dateRangeSelector1 = new gapi.analytics.ext.DateRangeSelector({
                      container: 'date-range-selector-1-container'
                    })
                    .set(dateRange1)
                    .execute();
                  
                  
                    /**
                     * Create a new DataChart instance with the given query parameters
                     * and Google chart options. It will be rendered inside an element
                     * with the id "data-chart-1-container".
                     */
                    var dataChart1 = new gapi.analytics.googleCharts.DataChart(commonConfig)
                        .set({query: dateRange1})
                        .set({chart: {container: 'data-chart-1-container'}});
                  
                  
                    /**
                     * Register a handler to run whenever the user changes the date range from
                     * the first datepicker. The handler will update the first dataChart
                     * instance as well as change the dashboard subtitle to reflect the range.
                     */
                    dateRangeSelector1.on('change', function(data) {
                      dataChart1.set({query: data}).execute();
                  
                      // Update the "from" dates text.
                      var datefield = document.getElementById('from-dates');
                      datefield.textContent = data['start-date'] + '&mdash;' + data['end-date'];
                    });
                  
                  
                  
                  });
               </script>
            </div>
            <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="step-three">
               <h3 class='step-title'>Pre-forecast Data Review</h3>
               <div id='stats-summmary'>
                  <h5 id='original-data-chart-title' class='sub-header'>INSERT TITLE</h5>
                  <div id='build-basic-forecast'>
                     <canvas id="originalChart"></canvas>
                     <br>
                     <h5>Summary Statistics</h5>
                     <ol class='helpful-stats'>
                        <li class='helpful-title mean'>Mean<br><span id='metrics-mean' class='summary-data'>--</span></li>
                        <li class='helpful-title std'>Std<br><span id='metrics-std' class='summary-data'>--</span></li>
                        <li class='helpful-title min'>Min<br><span id='metrics-min' class='summary-data'>--</span></li>
                        <li class='helpful-title max'>Max<br><span id='metrics-max' class='summary-data'>--</span></li>
                     </ol>
                     <div id='user-messaging'>
                        <p id='error-message'></p>
                        <button id="ga-data" type="button" class="btn btn-primary" href="#">Back</button>
                        <button id="configure-forecast" type="button" class="btn btn-primary" href="#">Configure Forecast</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Step Four -->
            <div class="tab-pane fade show" id="four" role="tabpanel" aria-labelledby="step-four">
               <h4 class='side-nav-title build-title'>Basic Forecast Setup</h4>
               <div id='forecast-out'>
                  <p>How many <span id='timeframe'>days</span> do you want to forecast?</p>
                  <input id="days-to-forecast" type="number" value="28"><br><br>
               </div>
               <div id='forecast-model-type'>
                  <p>What type of forecasting model would you like to use?</p>
                  <input class='option' type="radio" name="selection" value="linear" checked="checked"> Linear (Default)<br>
                  <input class='option' type="radio" name="selection" value="logistic"> Logistic<br><br>
                  <div id="logistic-regression-options">
                     <p id="logistic-option-text">By selecting a logistic forecast, you are required to set upper and lower saturation points.<a href="https://facebook.github.io/prophet/docs/saturating_forecasts.html" class="helper"> What's this?</a></p>
                     Upper: <input id="upper-limit" type="number"><br>
                     Lower: <input id="lower-limit" type="number"><br><br>
                  </div>
               </div>
               <button id="review-data" type="button" class="btn btn-primary" href="#">Back</button>
               <button id="generate-forecast" type="button" class="btn btn-primary" href="#">Build Forecast</button>
            </div>
            <!-- Step Five -->
            <div class="tab-pane fade show" id="five" role="tabpanel" aria-labelledby="step-five">
               <div id='forecast-content'>
                  <h4 class='step-title'>Forecast</h4>
                  <!--       Chart.js Canvas Tag -->
                  <div id='chart-container'>
                     <h5 id='chart-title' class='sub-header'>INSERT TITLE</h5>
                     <img id="loading" src="{{url_for('static', filename='img/loading.gif')}}"/>
                     <p id='processing'>
                        Building forecast...
                     </p>
                     <canvas id="myChart"></canvas>
                     <!-- Previous vs Future Dropdown Stats hidden at the moment-->
                     <br>
                     <!-- <h5>Pre-forecast vs Forecast Statistics</h5>
                     <br/>
                     <select class="form-control arguments" id="summary-stats">
                        <option value="" disabled>COMPARISON METRIC</option>
                        <option value="sum" selected>Sum</option>
                        <option value="average">Average</option>
                     </select>
                     <ol class='helpful-stats' id="sum" style="display:none">
                        <li class='helpful-title difference'>Previous <span id="forecast-length-comp-sum-past"></span> <span id="timeframe-comp-sum-past"></span> (Sum)<br><span id='metrics-actualssum' class='summary-data'>--</span></li>
                        <li class='helpful-title sum'>Next Forecasted <span id="forecast-length-comp-sum-percent"></span> <span id="timeframe-comp-sum-percent"></span><br><span id='metrics-forecastsum' class='summary-data'>--</span></li>
                        <li class='helpful-title difference'>Forecast vs. Past <br><span id='metrics-diff' class='summary-data'>--</span></li>
                     </ol>
                     <ol class='helpful-stats' id="average" style="">
                        <li class='helpful-title difference'>Previous <span id="forecast-length-comp-avg-past"></span> <span id="timeframe-comp-avg-past"></span> (Average)<br><span id='metrics-actualssum_mean' class='summary-data'>--</span></li>
                        <li class='helpful-title sum'>Next Forecasted <span id="forecast-length-comp-avg-percent"></span> <span id="timeframe-comp-avg-percent"></span><br><span id='metrics-forecastsum_mean' class='summary-data'>--</span></li>
                        <li class='helpful-title difference'>Forecast vs. Past <br><span id='metrics-diff_mean' class='summary-data'>--</span></li>
                     </ol> -->

                     <a class="helper" href="#" id="more-forecast-options-button">Show tunable options</a>
                     <br>
                     
                     <div id="more-forecast-options">
                      <h5>Tune your forecast</h5>
                      <div class="row">
                        <div class="col-sm-4">
                           <h6 class='param-header'>Growth</h6>
                           <span class='argument-name'>Forecast Length</span>
                           <input class='num-field' id="forecast-length" type="number"><br>
                           <span class='argument-name'>Model</span>
                           <select class='dd-menu' placeholder='Model Type' id='arg-forecast-model'>
                              <option value="" selected disabled>Model Type</option>
                              <option value="linear">Linear</option>
                              <option value="logistic">Logistic</option>
                           </select>
                           <br>
                           <span class='argument-name'>Upper Limit</span><br>
                           <input class='num-field' id="update-capacity" type="number">
                           <span class='argument-name'>Lower Limit</span><br>
                           <input class='num-field' id="update-min-saturation" type="number">
                        </div>
                        <div class="col-sm-4">
                           <h6 class='param-header'>Seasonality</h6>
                           <span class='argument-name'>Mode</span><br>
                           <select class='dd-menu' id='arg-seasonality-mode'>
                              <option value="" selected disabled>Seasonality Mode</option>
                              <option value="additive">Additive (default)</option>
                              <option value="multiplicative">Multiplicative</option>
                           </select>
                           <br>
                           <span class='argument-name'>Seasonality Prior Scale</span><br>
                           <input class='num-field' id="seasonality-prior-scale" type="number">
                           <span class='argument-name'>Seasonality Type</span>
                           <br>
                           <input type="checkbox" name="seasonality_type" value="weekly_seasonality"> Daily<br>
                           <input type="checkbox" name="seasonality_type" value="weekly_seasonality"> Weekly<br>
                           <input type="checkbox" name="seasonality_type" value="yearly_seasonality"> Yearly<br>
                           

                        </div>
                        <div class="col-sm-4">
                           <h6 class='param-header'>Changepoints</h6>
                           <span class='argument-name'># of Changepoints</span><br>
                           <input class='num-field' id="n-changepoints" type="number"> 
                           <br>
                           <span class='argument-name'>Changepoint Prior Scale</span><br>
                           <input class='num-field' id="changepoints-prior-scale" type="number">
                        </div>
                     </div>
                        <button type="button" class='btn btn-primary green-cta update-cta' id='update-chart'>Update Forecast</button>
                     </div>
                     <button id="reset" type="button" class="btn btn-secondary reset" href="#" onclick=window.location.reload()>Reset</button>
                     <button id="download-forecast-cta" type="button" class="btn btn-secondary" href="#">Download CSV</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- Footer -->
         <footer class="mastfoot mt-auto">
            <div class="inner">
               <p>Built by <a href="https://github.com/alsjohnstone/prophecise">Alistair Johnstone</a> Powered by <a href="https://facebook.github.io/prophet/docs/quick_start.html">Facebook Prophet</a> and <a href="https://github.com/garethcull/forecastr">Forecastr</a></p>
            </div>
         </footer>
      </div>
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>

      <script type="text/javascript" src="{{url_for('static', filename='js/prophecise.js')}}" ></script>
   </body>
</html>